body {
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
  }
  
  .mainContent {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
    min-height: 0;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .paddedTitle,
  .paddedBody {
    padding: 20px 40px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .paddedTitle {
    font-size: 2em;
  }
  
  .paddedBody {
    font-size: 1em;
    transition: display 0.3s;
  }
  
  .paddedButton {
    font-size: 1.25em;
    padding: 20px 40px;
    border-radius: 25px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 0.1s
  }
  
  .paddedButton:hover {
    transform: scale(1.05);
  }

  .iframe-container iframe {
    width: 100%; /* Ensure iframe fills its container */
    height: 100%;
    transform: scale(0.75); /* Scale content to 75% */
    transform-origin: 0 0; /* Set origin for transformation to top-left */
    /* Vendor prefixes for older browsers (e.g., -webkit-transform, -moz-transform) may be necessary */
}